{% extends "base.html" %}

{% block  content %}
    <form action="/update/product/{{product.0}}" method="POST">
        <input type="number" name="code" value="{{product.0}}" placeholder="C[odigo del producto">
        <input type="text" name="name" value="{{product.1}}" placeholder="Nombre del producto">
        <input type="number" name="stock" value="{{product.2}}" placeholder="Disponibilidad">
        <input type="number" name="value" value="{{product.3}}" placeholder="Valor">
        <input type="text" name="category" value="{{product.4}}" placeholder="Categor[ia">
        <button type="submit">
            UPDATE
        </button>
    </form>

{% endblock  %}



